html{
    background-color: #53ad2f;
    text-align: center;
}

ol,h2{
    font-family: 'Cabin';
}


header{
    font-size: 1.8rem;
    font-family: 'Reggae One' , cursive;
}

body{
    text-align: center;
    font-size: 1.3rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    margin: 2rem;
    padding: 0;
}

h3{
    background-color: #695e40;
    border-radius: 20px 10px;
}

div {
    word-wrap: break-word;
  }

 